%footer.site-footer
  .container
    .flexbox.u-spacer.u-border-top
      %a.site-footer__logo{href: "{% path_to home %}"} {{ site.name }}
      %ul.site-footer__list
        %li.site-footer__list-item
          %a.site-footer__link(href="#") Journal
        %li.site-footer__list-item
          %a.site-footer__link(href="#") Snapshots
        %li.site-footer__list-item
          %a.site-footer__link(href="#") About Us
      %ul.social__list
        %li.social__list-item
          %a.social__link(href="#") Facebook
        %li.social__list-item
          %a.social__link(href="#") Twitter
        %li.social__list-item
          %a.social__link(href="#") Instagram
        %li.social__list-item
          %a.social__link(href="#") Snapchat
