%footer.site-footer.u-border-top
  .container
    .flexbox.u-spacer
      %a.site-footer__logo{href: "{% path_to home %}"}
        %img(src="{{ site.metafields.brand.logo }}")
      %ul.site-footer__list
        %li.site-footer__list-item
          %a.site-footer__link(href="#") Journal
        %li.site-footer__list-item
          %a.site-footer__link(href="#") Snapshots
        %li.site-footer__list-item
          %a.site-footer__link(href="#") About Us
      %ul.social__list
        %li.social__list-item
          %a.social__link(href="{{ site.metafields.social.facebook }}")
            %i.fa.fa-facebook(aria-hidden="true")
        %li.social__list-item
          %a.social__link(href="{{ site.metafields.social.twitter }}")
            %i.fa.fa-twitter(aria-hidden="true")
        %li.social__list-item
          %a.social__link(href="{{ site.metafields.social.instagram }}")
            %i.fa.fa-instagram(aria-hidden="true")
        %li.social__list-item
          %a.social__link(href="{{ site.metafields.social.500px }}")
            %i.fa.fa-500px(aria-hidden="true")
