%nav.site-nav.u-border-bottom
  .container
    .flexbox
      %a.site-nav__logo{href: "{% path_to home %}"}
        %img(src="{{ site.metafields.brand.logo }}")
      %ul.site-nav__list
        {% for page_in_nav in site.pages %}
        {% if page_in_nav.depth == 1 %}
        %li(class="site-nav__list-item {% if page.fullpath == page_in_nav.fullpath %}site-nav__list-item--active{% endif %}" )
          %a.site-nav__link(href="{% path_to page_in_nav %}") {{ page_in_nav.title }}
        {% endif %}
        {% endfor %}
