//  Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Typography
//   2. Colors
//   2. Apply settings

// 1. Typography
// ---------
$html_font_size: 62.5%;
$body_font_size: 1.6rem;
$body_font_family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header_lineheight: 1.4;
$paragraph_lineheight: 1.6;

$font_smoothing: antialiased;
$font-rendering: optimizeLegibility;

// 2. Colors
// ---------
$primary_color: #9EF7B4;
$black: #000;
$white: #fefefe;

// 3. Apply settings
// ---------
html {
  font-size: $html_font_size;
  -webkit-font-smoothing: $font_smoothing;
  -webkit-font-rendering: $font_rendering;
}

body {
  font-family: $body_font_family;
  font-size: $body_font_size;
  background-color: $white;
  border-top: 1rem $primary_color solid;
  margin: 0;
}
