//  Sites Settings
//  -----------------------------
//
//  Table of Contents:
//
//   1. Typography
//   2. Colors
//   2. Apply settings

// 1. Typography
// ---------
$html_font_size: 62.5%;
$font_smoothing: antialiased;
$font-family-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// 2. Colors
// ---------
$primary_color: #9EF7B4;
$black: #000;
$white: #fefefe;

// 3. Apply settings
// ---------
html {
  font-size: $html_font_size;
  -webkit-font-smoothing: $font_smoothing;
}

body {
  font-family: $font-family-body;
  background-color: $white;
}
