.site-footer {
  &__logo {
    & img {
      width: 10rem;
      height: auto;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    & svg {
      height: 5rem;
      width: auto;
      fill: $secondary_color;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
  &__list-item {
    display: inline-block;
    &:not(:first-of-type) {
      margin-left: 4rem;
    }
  }
  &__link {
    display: block;
    color: $secondary_color;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.0042rem;
    text-transform: uppercase;
  }
}
