//-------------------------------
// Set the front size of the HTML for easier rem sizing throughout
//-------------------------------
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
//-------------------------------

body {
  font-family: sans-serif;
  background-color: #EEE;
}
