---
title: Post template page
content_type: posts
---

{% extends 'layouts/default' %}

{% block content %}

.container
  %h1 {{ post.title }}
  %p on {{ post.posted_at | localized_date: '%m/%d/%Y' }}
  .tags
    {% for tag in post.tags %}
    %span.label {{ tag | escape }}
    {% endfor %}

  %img(src="{{ post.image.url | resize: '400x200#' }}" alt="{{ post.title | escape }}")

  // @FIXME 'with_scope post: post' checks that the map(s) in 'contents.maps'
  // belongs to this post, so we should not see the whole list of maps listed
  // here like previously
  {% with_scope post: post %}
  {% for map in contents.maps %}
  .map-type
    %p The map {{ map.title }} is located in {{ map.post.title }}!
    %p The longitude is {{ map.longitude }}
    %p The latitude is {{ map.latitude }}

  #custommap2(style="width: 100%; height: 300px;")
    %script
      mapboxgl.accessToken = 'pk.eyJ1IjoiaWFubWlsbGlrZW4iLCJhIjoiY2lzN2RoOW13MDAxOTJwbGoxNGszMXU3eSJ9.ysd82httIty2z9wBOvTXkw';
      var long = {{ map.longitude }};
      var lat = {{ map.latitude }};
      var map = new mapboxgl.Map({
      container: 'custommap2',
      style: 'mapbox://styles/mapbox/streets-v8',
      zoom: 10,
      center: [ long, lat ],
      bearing: 60,
      pitch: 50
      });
      map.addControl(new mapboxgl.Geolocate({position: 'top-left'}));
  {% endfor %}
  {% endwith_scope %}

  %p {{ post.body }}

{% endblock %}
