---
title: Snapshots template page
content_type: snapshots
---

{% extends 'layouts/default' %}

{% block content %}

%article.j-post
  %section
    .container.u-center-group
      .u-group
        .title {{ snapshot.title }}

  .container
    %section.j-post__body
      %p {{ snapshot.body }}

{% endblock %}
