---
title: Snapshots template page
content_type: snapshots
---

{% extends 'layouts/default' %}

{% block content %}

%article.content
  %header.container
    .content-narrow
      %h2 {{ snapshot.title }}
      %p {{ snapshot.intro }}
  %section.container
    .snapshot-content__body
      %p {{ snapshot.body }}

{% endblock %}
